numpy==1.26.4
timm==0.9.8
Pillow
blobfile
mypy
numpy
pytest
requests
einops
tensorboardX
scipy
ftfy
opencv-python
sentencepiece
pyarrow
transformers
pytorch-lightning==2.2.1
nltk
rouge
scikit-image
accelerate
fairscale
ruamel.yaml
wandb
pandas
future
scikit-survival
torchmetrics==0.7.3
h5py
open_clip_torch>=0.2.1
pycocoevalcap
webdataset>=0.2.31
huggingface-hub
safetensors
uvicorn
sse_starlette
starlette
xgboost
tiffslide
datasets
fastapi
tissuelab_sdk==0.1.8

# GPU Support Installation:
# For CUDA 12.1: pip install torch==2.5.1+cu121 torchvision==0.20.1+cu121 torchaudio==2.5.1+cu121 --index-url https://download.pytorch.org/whl/cu121
# For CUDA 11.8: pip install torch==2.5.1+cu118 torchvision==0.20.1+cu118 torchaudio==2.5.1+cu118 --index-url https://download.pytorch.org/whl/cu118