setuptools
numpy==1.26.4
matplotlib==3.5.2
pandas==1.4.3
opencv-python==4.6.0.66
scipy==1.8.1
tiffslide==1.5.0
multiprocess==0.70.17
xgboost==1.7.4
scikit-learn==1.2.1
tqdm==4.64.1
natsort==8.2.0
requests==2.28.2
transformers
sse-starlette
fastapi
uvicorn
h5py
tissuelab_sdk==0.1.7
# Also, please manually install torch (GPU): pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118 && pip install transformers
